

          <ul class="list-group">
            <li class="list-group-item"
                *ngFor="let user of users"
            >
              <span class="text-danger" *ngIf="user.country === 'VN' ">
                {{ user.name }} - {{ user.country }}
              </span>
              <span class="text-primary"  *ngIf="user.country === 'JP' " >
                  {{ user.name }} - {{ user.country }}
                </span>
              <span *ngIf="user.country !== 'VN' && user.country !== 'JP' ">
                {{ user.name }} - {{ user.country }}
              </span>
          </li>
          </ul>
          <hr>
          <h3>ngSwitchCase</h3>
          <ul class="list-group">
              <li class="list-group-item"
                  *ngFor="let user of users"
                  [ngSwitch]="user.country"
              >
                <span *ngSwitchCase=" 'VN' " class="text-danger">
                  {{ user.name }} - {{ user.country }}
                </span>
                <span *ngSwitchCase=" 'JP' " class="text-primary">
                  {{ user.name }} - {{ user.country }}
                </span>
                <span *ngSwitchDefault>
                  {{ user.name }} - {{ user.country }}
                </span>
            </li>
            </ul>
    