<h3 [class.pd-10]="true"
    [class.cl-red]="true"
    [class.border-blue]="true">
  Chào mừng Angular
</h3>
<h3 [ngClass]="['pd-10','cl-red','border-blue']"
    [ngClass]="{ 'pd-10' : isSpecial === true }"
>
  Chào mừng Angular
</h3>

<hr>
<P>Special : {{ isSpecial }}  </P>
<h3
    [ngClass]="{
      'border-blue' : isSpecial,
      'cl-red' : isSpecial,
      'pd-10' : isSpecial,
      'border-violet' : !isSpecial
    }"
>
  Chào mừng Angular
</h3>
<hr>

<h3 (click)="onToggleSpecial()"
    [ngClass]="setClasses()"
>
  Chào mừng Angular
</h3>

<button type="button" class="btn btn-primary"
        (click)="onToggleSpecial()"
>button
</button>
<hr>
<p [ngStyle]="{ 'padding-top' : isSpecial ? '' : '48px' }"
>Special : {{ isSpecial }}  </p>
<h3 (click)="onToggleSpecial()"
    [ngStyle]="{ 'border' : isSpecial ? 'solid 3px orange' : '' ,
                'padding' : isSpecial ? '20px' : '20px',
                'color' : isSpecial ? 'red' : ''}"
>
  Chào mừng Angular
</h3>

<button type="button" class="btn btn-primary"
        (click)="onToggleSpecial()"
>button
</button>
<hr>
