<h1>{{ title }}</h1>


<div class="container">
  <div class="row">

    <!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

      <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">Component-to-View</h3>
          </div>
          <div class="panel-body">
            <app-component-to-view></app-component-to-view>
          </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

      <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">Component-to-View</h3>
          </div>
          <div class="panel-body">
            <app-view-to-component></app-view-to-component>
          </div>
      </div>
    </div>
     -->

     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title">Two way binding</h3>
            </div>
            <div class="panel-body">
              <app-two-way-binding></app-two-way-binding>
            </div>
        </div>
     </div>

  </div>
</div>
